/* reset & base styles */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	display: grid;
	place-items: center;
	height: 100%;
	background-image: url("../images/bg-intro-desktop.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #ff7a7a;
	font-family: "Poppins", sans-serif;
	color: #ffffff;
}

/* main */
main {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1161px;
	margin: auto;
	padding-left: 23px;
	padding-right: 23px;
}

/* main -- text */
main .text {
	flex: 0 1 500px;
	margin-top: 10px;
}

.text .text__heading {
	font-size: 3.1125rem;
	line-height: 1.1;
	margin-bottom: 27.5px;
}

.text .text__paragraph {
	line-height: 1.65;
}

/* main -- formbox */
main .formbox {
	flex: 0 1 540px;
}

.formbox .formbox__header {
	font-size: 0.9685rem;
	font-weight: 400;
	text-align: center;
	background-color: rgb(96, 85, 165);
	padding: 18px 0px;
	border-radius: 10px;
	color: rgb(239, 233, 251);
	box-shadow: rgb(81 80 86 / 30%) 0px 8px 0px 0px;
	margin-bottom: 24.5px;
}

.formbox__header strong {
	font-weight: 600;
	color: #ffffff;
}

.formbox form {
	background-color: #ffffffff;
	border-radius: 10px;
	padding: 40px 40px 43px 40px;
	display: flex;
	flex-direction: column;
	box-shadow: rgb(81 80 86 / 30%) 0px 8px 0px 0px;
}

form .formbox__inputbox {
	position: relative;
}

form input {
	width: 100%;
	padding: 18px 58px 15px 32px;
	border-radius: 5px;
	border: 1px solid rgba(194, 191, 191, 0.575);
	margin-bottom: 20px;
	font-family: "Poppins", sans-serif;
	font-size: 0.875rem;
	font-weight: 600;
}

form input::placeholder {
	color: #767288;
	font-size: 0.895rem;
}

.formbox__inputbox.error input {
	border-color: #ff7a7a;
	border-width: 2px;
}

.formbox__inputbox .inputbox__error {
	display: none;
	position: absolute;
	right: 8px;
	bottom: 4px;
	color: #ff7979;
	font-size: 0.6875rem;
	font-weight: 500;
	font-style: italic;
}

.formbox__inputbox.error .inputbox__error {
	display: block;
}

.formbox__inputbox.error .inputbox__error::after {
	position: absolute;
	content: "";
	background-image: url(../images/icon-error.svg);
	width: 26px;
	height: 26px;
	background-repeat: no-repeat;
	background-size: contain;
	top: -39px;
	right: 15px;
}

form button {
	padding: 18px 0px 12px;
	background-color: #38cc8c;
	border: none;
	border-radius: 5px;
	font-size: 0.9375rem;
	font-family: Poppins, sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	color: #ffffff;
	letter-spacing: 1px;
	box-shadow: #30bb7f 0px 4px 0px 0px;
	margin-bottom: 18px;
	cursor: pointer;
	transition: background-color 300ms ease-in-out;
}

form button:hover {
	background-color: #7de3b7;
}

form .formbox__terms {
	font-size: 0.6875rem;
	font-weight: 600;
	color: #d4d2db;
	text-align: center;
}

.formbox__terms a {
	color: #ff7a7a;
	text-decoration: none;
	font-weight: 700;
}

@media screen and (max-width: 1100px) {
	/* main */
	main {
		flex-direction: column;
	}

	/* main -- text */
	main .text {
		flex: initial;
		margin-top: 85px;
		text-align: center;
		margin-bottom: 50px;
	}

	.text .text__heading {
		font-size: 2rem;
	}

	.text .text__paragraph {
		max-width: 510px;
		font-size: 0.95rem;
	}

	/* main -- formbox */
	main .formbox {
		flex: initial;
		width: 100%;
		margin-bottom: 40px;
	}

	.formbox .formbox__header {
		padding-left: 20px;
		padding-right: 20px;
		font-size: 0.9rem;
	}

	.formbox form {
		padding: 25px;
	}

	form input {
		font-size: 0.8rem;
		padding-left: 20px;
		padding-right: 40px;
	}

	.formbox__inputbox.error .inputbox__error::after {
		width: 20px;
		height: 20px;
		top: -36px;
		right: 7px;
	}
}
